.vscode/
BoltzmannMachine/ml-100k
BoltzmannMachine/ml-1m
AutoEncoders/ml-1m
AutoEncoders/ml-100k
Kaggle-MNIST/test.csv
Kaggle-MNIST/train.csv
Kaggle-MNIST/Digits-1.3.0.h5
Kaggle-MNIST/keras-cnn-9954.csv
Kaggle-MNIST/keras-cnn-9957.csv
Kaggle-MNIST/keras-cnn-9959.csv
Captcha-Breaker-CNN/generated_captcha_images
Captcha-Breaker-CNN/extracted_letter_images
Captcha-Breaker-CNN/captcha_model.hdf5
Captcha-Breaker-CNN/model_labels.dat
Fashion-MNIST/data
Marijuana-Classification/dataset
Medical-Image-Analysis/malaria
Medical-Image-Analysis/utils/resnet.py
Simple-Image-Classifier/animals
Simple-Image-Classifier/images
Simple-Image-Classifier/output
SMILE-CNN/dataset
SMILE-CNN/*.png
SMILE-CNN/*.npy
*.pyc
SMILE-CNN/*.json
SMILE-CNN/*.h5
House-Price-Prediction/Houses-Dataset
Liveness-Detection/dataset
Liveness-Detection/face_detector
Liveness-Detection/videos
Liveness-Detection/le.pickle
Liveness-Detection/liveness.model
Reconstructing-Fingerprint-Images/data
Reconstructing-Fingerprint-Images/model
Credit-Card-Fraud-Detection/data
Credit-Card-Fraud-Detection/model.h5
Credit-Card-Fraud-Detection/logs