BoltzmannMachine/ml-100k
BoltzmannMachine/ml-1m
AutoEncoders/ml-1m
AutoEncoders/ml-100k
Kaggle-MNIST/test.csv
Kaggle-MNIST/train.csv
Kaggle-MNIST/Digits-1.3.0.h5
Kaggle-MNIST/keras-cnn-9954.csv
Kaggle-MNIST/keras-cnn-9957.csv
Kaggle-MNIST/keras-cnn-9959.csv
Captcha-Breaker-CNN/generated_captcha_images
Captcha-Breaker-CNN/extracted_letter_images
Captcha-Breaker-CNN/captcha_model.hdf5
Captcha-Breaker-CNN/model_labels.dat
